<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yumzo | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore-compat.js"></script>
</head>
<body>

    <nav>
        <h2 style="color: var(--primary); margin:0;">YUMZO.</h2>
        <div>
            <a href="/" style="color: white; text-decoration: none; margin-right: 20px;">Home</a>
            <a href="/login" style="color: white; text-decoration: none;">Login</a>
        </div>
    </nav>

    <div style="flex: 1; display: flex; justify-content: center; align-items: center; padding: 20px;">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
