<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yumzo Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="display:flex; align-items:center; justify-content:center; height:100vh;">
    <div class="item-card" style="width:300px;">
        <h2 style="color:#f59e0b;">YUMZO ADMIN</h2>
        <form method="POST">
            <input type="password" name="password" placeholder="Enter POS Pin" 
                   style="width:90%; padding:15px; margin-bottom:10px; border-radius:10px;">
            <button type="submit" class="btn-confirm">LOGIN</button>
        </form>
    </div>
</body>
</html>
